/.vscode
/Automacao Comercial
/Automacao de Coleta de Dados
/Call Center
/Comercio Exterior
/Controladoria
/core_10692.dmp
/Distribuicao e logistica
/dms
/financeiro
/Gestao de Qualidade
/Gestao de Servicos
/Gestao de Suprimentos
/Gestao de Transporte de passageiros
/Gestao de Transportes
/hello.prw
/JDPUT001.tlpp
/Juridico
/Livros Fiscais
/localizaciones
/NFSE
/Plano de Saude
/RECOPI
/Recursos Humanos
/SPED NF-e
/TESTEPUT.PRW